# Ignore everything by default
*

# Always keep these
!.gitignore
!README.md
!README.MD
!LICENSE
!environment.yml
!requirements.txt
!Paper*.pdf

# Keep the whole project folder
!project/
!project/**

# If you have these at root too, keep them
!*.ipynb

# Ignore data (recommended) OR keep selectively
project/data/
project/data/**

# If you want to keep results, uncomment these two lines and remove the ignore above for results
!project/results/
!project/results/**

# Junk
**/.DS_Store
**/__pycache__/
**/*.pyc
**/.ipynb_checkpoints/
.venv/
.env
.DS_Store
